/*
** RESET
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
.dl, dt, dd, ol, ul, li,
.fieldset, form, label, legend,
.table, caption, tbody, tfoot, thead, tr, th, td,
.article, aside, canvas, details, figcaption, figure,
.footer, header, hgroup, menu, nav, section, summary,
.time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

a, a:link, a:hover, a:active, a:visited { color: inherit; text-decoration: none; }

/*
** MEDIAS
*/
@media screen and (min-device-width: 320px) {
#app-container { width:98%; margin:auto; }
nav ul li a { padding:30px 10px; }
}
@media screen and (min-width: 1000px) {
#app-container { width:640px; margin:auto; }
nav ul li a { padding:20px 10px; }
}

/*
** MAIN
*/
@font-face {
    font-family: 'DesignosaurItalic';
    src: url('../app-assets/designosaur-italic-webfont.eot');
    src: url('../app-assets/designosaur-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../app-assets/designosaur-italic-webfont.woff') format('woff'),
         url('../app-assets/designosaur-italic-webfont.ttf') format('truetype'),
         url('../app-assets/designosaur-italic-webfont.svg#DesignosaurItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { width:100%; height:100%; background:url('../app-img/app-bg.png') repeat; color:#fff; font-family:'DesignosaurItalic'; }

header { font-size:3.2em; text-shadow:1px 2px 1px #000; letter-spacing:1px; padding:10px; margin:10px 0 0 0; }
#app-top { margin:5px 0 20px 0; }

q { font-size:0.6em; text-shadow:1px 2px 1px #000; font-weight:100; }
q:before, q:after { content:none; }

section { 
	
	background:#fff;
	text-align:center;
	width:100%; 
	margin-bottom:10px; 
	
	box-shadow: 3px 3px 1px #000; 
		-moz-box-shadow: 3px 3px 1px #000;  
		-o-box-shadow: 3px 3px 1px #000; 
		-webkit-box-shadow: 3px 3px 1px #000;
		-ms-box-shadow: 3px 3px 1px #000; 
}
section img { width:98%;  border:7px #fff solid; margin: 0; }
section a, section p { background:#fff; margin: 0; display:block; }
section p { padding:15px; font-weight:bold; font-size:24px; color:#333; }

footer { width:100%; padding:10px 0 20px 0; }
nav ul { text-align:center; }
nav ul li { list-style:none; display:inline-block; width:49%;}
nav ul li a {
	display:inline-block;
	background:#000; 
	font-size:1.9em;
	letter-spacing:0.1em;
	width:90%;
	
	text-shadow:1px 1px 1px #000;
	
	border-radius:5px; 
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
	
	box-shadow:0px 0px 4px rgba(0, 0, 0, 1), inset 0px 0px 1px 1px rgba(100, 100, 100, 0.75);
		-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1), inset 0px 0px 1px 1px rgba(100, 100, 100, 0.75);
		-moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 1), inset 0px 0px 1px 1px rgba(100, 100, 100, 0.75);
		-o-box-shadow:0px 0px 4px rgba(0, 0, 0, 1), inset 0px 0px 1px 1px rgba(100, 100, 100, 0.75);
		-ms-box-shadow:0px 0px 4px rgba(0, 0, 0, 1), inset 0px 0px 1px 1px rgba(100, 100, 100, 0.75); 
}
nav ul li a:hover, nav ul li a:active { background:#111; color:#00A5F0; }
nav ul li img { display:inline-block; margin:0 7px 0 7px; position:relative; top:0px; height:14px; }